#container {
    text-align: center;
    margin-top: 50px;
}

#title {
    font-size: 36px;
    color: #0c0c0c;
}

#billionaires-box {
    box-sizing: border-box;
    display: flex;          /* Faz os filhos ficarem lado a lado */
    flex-wrap: wrap;       /* Se não couber na tela, eles pulam para a linha de baixo */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 30px;          
    width: 90%;
    background-color: #6f6969;
    min-height: 600px;      
    margin: 2px auto;
    padding: 20px;
    border-radius: 10px;
}

.billionaire-card {
    box-sizing: border-box;
    position: relative;
    height: 600px;
    width: 350px;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    transform-style: preserve-3d;
    transition:  all 0.6s ease; /* Suaviza a transição de transformação */
}

.billionaire-card:hover {
    transform: rotateY(180deg); /* Gira o card 180 graus no eixo Y */
}

.billionaire-front, .billionaire-back {
    position: absolute; /* ocupam o mesmo lugar */
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Esconde o que está atrás */
    border-radius: 10px;
    background-color: #4f3570; /* Cor de fundo movida para cá */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.billionaire-back {
    transform: rotateY(180deg);
}

.img {
    height: 300px;
    width: 300px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    border-radius: 10px;
    margin-bottom: 15px;    /* Espaço entre a imagem e o texto abaixo */
}

#billionaires-box .name-bill {
    text-align: center;
}
.description {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


